---
import Container from '~/layouts/Container.astro'

const posts = await Astro.glob('./post/*.md').then(res =>
    res
        .filter(({ frontmatter: { date, draft }, url }) => date && draft !== true && url)
        .sort((a, b) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime())
        .map(({ frontmatter: { title, date }, url }) => ({ title, url, date })),
)

function getDisplayTime(date: string) {
    const d = new Date(date)
    return [d.getMonth() - 1, d.getDate()].map(i => i < 10 ? `0${i}` : i).join('-')
}

function isSameYear(a: string, b = '0000-00-00') {
    return new Date(a).getFullYear() === new Date(b).getFullYear()
}
---

<Container title={'BLOG'} date={`Last updated: ${posts[0].date}`}>
    {
        posts.map(({ title, url, date }, idx) => (
            <>
                {!isSameYear(date, posts[idx - 1]?.date) && <h3>{new Date(date).getFullYear()}</h3>}
                <p>
                    <span text-50 fs-875>{getDisplayTime(date)}&nbsp;</span>
                    <a href={url}>{title}</a>
                </p>
            </>
        ))
    }
</Container>
